*{
    margin: 0;
    padding: 0;
}
.header{
height: 100vh;
}
.title {
font-size: 150px;
text-transform: uppercase;
width:fit-content;
margin: auto;
}
.title-black{
color: black;
position: relative;
top: 150px;
left: -20px;
z-index: 2;
animation: swim 4s ease 0s infinite;
}
.title-red{
    color: rgb(255, 0, 0);
    opacity: 0.6; 
    position: relative;
    z-index: 1;
    animation: swim 3s ease 0s infinite alternate;
}
.title-blue{
    color: rgb(0, 85, 255); 
    opacity: 0.6; 
    position: relative;
    bottom: 150px;
    left: 20px;
    animation: swim 3s ease 1s infinite reverse;
}

.header-btn{
    display: block;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 200px;
    text-align: center;
    padding: 10px 0 15px;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}
.red-btn{
    background-color:rgb(255, 0, 0);;  
    width: 200px;
    opacity: 0.6; 
    height: 43px;
    position: absolute;
    top: 49%;;
    left: 50%;
    transform: translate(-60%,-50%);
    z-index: 2;
}
.blue-btn{
    background-color:rgb(0, 85, 255); 
    opacity: 0.6; 
    height: 43px;
    width: 200px;
    position: absolute;
    top: 51%;;
    left: 50%;
    transform: translate(-30%,-50%);
    z-index: 1;
}
.top-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
}
.news{
    width: 1000px;
    margin: 0 auto 30px ;
    border: 1px solid black;
}
.news-title{
    background-color: black;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 5;
}
.category{
    background-color: rgb(170, 4, 4);
    color: aliceblue;
    font-size: 24px;
    text-align: center;
    padding: 8px 0;
}
.news img{
    width: 100%;
    position: sticky;
    top: 0;
}
.news-text{
    padding: 20px;
    font-size: 20px;
    position: relative;
    z-index: 4;
    background-color: aliceblue;
}
@keyframes swim{
0%{
transform: translate(0,0);
}

50%{
    transform: translate(-20px, 20px);    
}

100%{
    transform: translate(0,0); 
}
}